.todo-area {
    width: 100%;
    padding : 0px 15px;
    box-sizing: border-box;
  }
  
  
  @media only screen and (min-width: 768px) {
  
    .todo-area {
      
    }
  }
  
  
  @media only screen and (min-width: 1200px) {
  
    .todo-area {
      max-width: 1200px;
      margin: auto;
      padding: 0px 25px;
    }
  }
  