.todos-container {
  width: 100%;
}

.todo-todos {
  background: lightsalmon;
  border-radius: 10px;
}

.completed-todos {
  background: lightseagreen;
  border-radius: 10px;
}

.todo-todos, .completed-todos {
    margin-bottom: 20px;
}
/* 
.todo-todos::before {
    content: 'Todos';
}
.completed-todos::before {
    content: 'Completed';
}
.todo-todos::before, .completed-todos::before {
    font-size: 20px;
    margin: 15px 0px;
} */

.add-todo {
    text-align: center;
}

.add-button {
  padding: 7px 9px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 50%;
  margin-top: 10px;
}
