.header {
    display: flex;
    justify-content: space-around;
    background: lightseagreen;
}

.logo a {
    text-decoration: none;
}

.logo span {
    text-transform: uppercase;
    font-size: 25px;
    color : white;
    line-height: 40px;
}