.todo {
    margin: 20px 0px;
}

.content-area {
    width: 100%;
    text-align: center;
    margin : 5px 0px;
}

.button-area {
    width: 100%;
    text-align: center;
}  

.todo-isDone {
    margin-right: 5px;
    position: relative;
    bottom: 11px;
    height: 17px;
}

.todo-content {
    background : rgba(0, 0, 0, 0.2);
    border : none;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0px;
    resize: none;
}

.todo-content:focus {
    outline: none;
    box-shadow: 0 0 5px 0 white;
}

.todo-edit-button, .todo-delete-button {
    background: green;
    color : white;
    border : none;
    padding : 7px 9px;
    margin-right: 5px;
    border-radius: 50%;
}

.fa.fa-edit, .fa.fa-trash {
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    
    .content-area {
        width: 50%;
        float: left;
    }
    
    .button-area {
        width: 50%;
        float: right;
    } 

}
