.user-info {
    
}

.user-info a {
    color: white;
    cursor: pointer;
    line-height: 40px;
    text-decoration: none;
}

.user-info a:first-child::after {
    color: white;
    content: "|";
    margin: 0px 10px;
}