* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.cfix::after {
  content: '';
  display: table;
  clear: both;
}